<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129468607289-4mf1683oip7bfhorch8vcj50kdm2t6ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129468607289-4mf1683oip7bfhorch8vcj50kdm2t6ah</string>
	<key>API_KEY</key>
	<string>AIzaSyB1eWK2YRGp8DGyXFwE8pwnJiNYhB6Rd1c</string>
	<key>GCM_SENDER_ID</key>
	<string>129468607289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.release.BeMyPlan</string>
	<key>PROJECT_ID</key>
	<string>bemyplan-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>bemyplan-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129468607289:ios:1f9701cc9909e4f5f016e8</string>
</dict>
</plist>