<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>지도 데이터를 표기하기 위해 사용자의 위치정보가 필요합니다.</string>
	<key>NSLocationUsageDescription</key>
	<string>지도 데이터를 표기하기 위해 사용자의 위치정보가 필요합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao904d52aff326e5526e945eee5dfb8efd</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>8813c8c6fdcec872713a666700d19b80</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Spoqa_Han_Sans_Neo_Regular.otf</string>
		<string>paybooc_OTF_Bold.otf</string>
		<string>Spoqa_Han_Sans_Neo_Bold.otf</string>
		<string>Spoqa_Han_Sans_Neo_Medium.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
